body{
    background-color: rgb(131, 30, 30);
    font-family: sans-serif;
}

h1{
    color: white;
    margin: 20px;
}

.div-flex{
    display: flex;
    justify-content: center;
}

.text-bg-light{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    gap: 16px;
    margin-inline: 5%;
}

.item{
    flex: 1 1 calc(33.333% - 16px);
}

.compilareAuto{
    width: 60px;
    height: 30px;
    border: 1px;
    border-style: groove;
    border-color: black;
}

span{
    display: inline-block;
    background-color: rgba(181, 177, 177, 0.549);
    min-width: 150px;
    min-height: 25px;
}